.wrapper {
  display: flex;
  flex-direction: row;
  font-size: x-large;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px auto;
  width: 300px;
  .controls {
    display: flex;
    flex-direction: column;
    padding: 5px;
    box-sizing: border-box;

    div {
      cursor: pointer;
      margin:20px;
    }
  }
}
